apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  namespace: jimwhere
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:11
          ports:
            - containerPort: 3306
          env:
            - name: MARIADB_DATABASE
              value: jim_where
            - name: MARIADB_USER
              valueFrom:
                secretKeyRef:
                  name: jimwhere-secret
                  key: DB_USERNAME
            - name: MARIADB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jimwhere-secret
                  key: DB_PASSWORD
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jimwhere-secret
                  key: DB_PASSWORD
